.imageEditingLink, .imageReplacerLink{
    font-size:0.8em;
    color:darkcyan;
    cursor:pointer;
}
.imageReplacerLink{
    margin:0 0 0 10px;
}

.infoblock{
    background-color:#EDEDED;
}
.resultBlock{
    width:150px;
    height:180px;
    float:left;
    display:block;
    text-align:center;
    overflow:hidden;
    border:1px solid black;
    margin:1px;
    padding:3px 1px;
}
#imageEditorContainer{
    display: none;
    position:absolute;
    background-color:darkGray;
}
.resultImage{
    width:98px;
    text-align:center;
    height:98px;
    overflow:hidden;
    margin:0 auto;
}
.resultImageRaw,.resultImageOriginal{
    visibility:hidden;
    position:absolute;
    left:-5000px;
}
.resultImageContainer{
    
}
.resultImageContent{
    min-width:30px;
    cursor:pointer;
    min-height:30px;
    border:1px dashed #000000;
}
.resultStock{
    display:none;
}
.resultId{
    display:none;
}