#{extends 'main.html' /}
#{set title:'Home' /}

<div style="width:100%; height:500px;background-color:#EDEDED;">
    <div style="padding:200px 0 0;margin:0 auto;font-size:5em;color:darkslategray;text-align:center;">Home</div>
    <div style="padding:0 0 200px;margin:0 auto;font-size:2em;color:darkslategray;text-align:center;">
        <ul>
            <li><a href="pay">pay</a></li>
            <li>or <a href="initBasicSearch">Get all contacts</a></li>
            <li>or <a href="show?page=filter">Filtered contacts search</a></li>
            <li>or <a href="show?page=result">Static (empty) results</a></li>
        </ul>
    </div>
</div>